{% extends 'main_app/base.html'%}
{% block title %}
Выбор мастера
{% endblock %}
{% block content %}
  {%for master in masters %}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{master.master_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Возраст мастера {{master.age}}</h6>
    <p class="card-text">{{master.description}}</p>
    {%for time in master.free_time.all %}
    {{time|time:"H"}}
    <a href="#" class="btn btn-primary">{{time}}</a>
    {% endfor %}
  </div>
  </div>
  {% endfor %}
{% endblock %}
