h1 {
  color: red;
}

.description{
  height: 20px;
  overflow: hidden;
}
.cardes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px,auto);
  grid-gap: 1em;


}

.master_card{

  background-color: indigo;
  color: black;
  padding: 2em;
}

.master_card > h5{
  color: green;
}

.knopka{
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: 1em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}
a.knopka:hover {
  background: green;
  text-decoration: none;
} /* при наведении курсора мышки */
.inner_button{
    padding: 1em;
}
